.MainSectionTitle{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 48px;
    margin-bottom: 60px;
}

@media screen and (max-width:490px) {
    .MainSectionTitle{
        font-size: 1.6rem;
    }
}