.MusicExperience{
    width: 81.25%;
    /* height: 500px; */
    background-color: black;
    display: flex;
    margin: 4% 10%;
    padding: 20px;
    box-sizing: border-box;
}
@media screen and (max-width:800px) {
    .MusicExperience{
        flex-direction: column-reverse;
    }
}