.Footer {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: auto;
    padding-top: 100px;
    margin-top: 100px;
    background-color: black;
    color: white;
    height: 300px;
}

.NavbarSearch {
    display: flex;
    justify-content: space-evenly;
    width: 75%;
}

.Navbar-img {
    margin-top: auto;
    margin-bottom: auto;
}

.Search {
    background-color: black;
    border: 1px solid white;
    border-radius: 3px;
    display: flex;
    height: 40px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding-right: 10px;
}

input {
    outline: none;
}

.Search input {
    border-radius: 2px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    color: white;
    width: 100%;
    font-size: 17px;
}
.Category {
    width: 16%;
}

.CatTitle {
    margin: 0;
    margin-bottom: 30px;

}

.SupportText {
    margin: 0;
    margin-bottom: 15px;
}

.Images {
    display: flex;
    height: 90px;
    gap: 10px;
}

.RightImages {
    display: flex;
    align-items: center;
    margin-left: -10px;
}

.RightImages img {
    margin-bottom: 20px;
}

.Copyright {
    padding-top: 15px;
    text-align: center;
    height: 40px;
    background-color: black;
    color: #5a575788;
    align-items: center;
    border-top: 1px solid #5a575788;
}

.Social {
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 10px;
}

@media screen and (max-width:1021px) {
    .Footer {
        font-size: 11px;
        height: 350px;
    }

    .Images {
        flex-direction: column;
    }

    .Images img {
        width: fit-content;
        height: 100%;
    }

    .RightImages {
        margin-left: 5px;
    }

    .RightImages img {
        width: 80px;
        margin-bottom: 5px;
    }

    .Social {
        margin-top: 80px;
        width: 100%;
        margin-left: 0px;
    }

    .Search input {
        font-size: 10px;
    }
}
@media screen and (max-width:500px) {
    .Footer {
        font-size: 8px;
        height: 200px;
        margin-top: 10px;
        padding-top: 40px;
        padding-bottom: 50px;
    }
    .Images{
        height: 70px;
    }
    .Images img {
        width: fit-content;
        width: 30px;
        height: 30px;
    }

    .RightImages {
        margin-left: 5px;
    }

    .RightImages img {
        width: 30px;
        margin-bottom: 5px;
        height: 50%;
    }
    
    .Social {
        margin-top: 0;
        width: 100%;
        margin-left: 0px;
        padding-bottom: 11px;
    }
    .Social img{
        width: 10px;
        height: 10px;
    }
    .Copyright{
        font-size: 12px;
    }
    .Search{
        height: 15px;
    }
    .Search input {
        font-size: 5px;
    }
}