.MusicExperienceRight{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.MusicExperienceRight img{
    width: 80%;
    height: 80%;
    /* background-color: red; */
    background: radial-gradient(rgb(80, 80, 80) 20%,black,black);
}
@media screen and (max-width:800px) {
    .MusicExperienceRight{
        width: 100%;
    }
}